@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply bg-transparent border-b text-white block valid:text-white invalid:text-red-400 w-full h-fit py-1 my-2 focus:outline-none
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: #111111;
    color: white;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Soyuz Grotesk';
}

p, button {
    font-family: 'HK Grotesk';
}

@font-face {
    font-family: 'Soyuz Grotesk';
    src: url('../assets/SoyuzGroteskBold.woff');
}

@font-face {
    font-family: 'HK Grotesk';
    src: url('../assets/HKGrotesk-Regular.otf');
}


@layer components {
    .markdown > p {
        @apply mt-5 pb-5 text-[1.3rem]
    }

    .markdown > h1 {
        @apply text-6xl mb-5 mt-10
    }

    .markdown > h2 {
        @apply text-4xl mt-20
    }

    .markdown > h3 {
        @apply text-2xl mb-7 mt-7
    }

    .markdown > h4 {
        @apply text-gray-700 text-xl mb-10
    }

    .markdown > img {
        @apply pb-7 mt-7
    }

    .markdown > blockquote {
        @apply mb-10 mt-7 border p-10 text-[1.3rem]
    }

  

}