@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #111111;
    color: white;
    font-family: 'Space Mono', monospace;
}

@layer components {
    .markdown > p {
        @apply mt-5 pb-5
    }

    .markdown > h1 {
        @apply text-4xl mb-5 mt-10
    }

    .markdown > h2 {
        @apply text-3xl mt-20
    }

    .markdown > h3 {
        @apply text-2xl mb-7 mt-7
    }

    .markdown > h4 {
        @apply text-gray-700 text-xl mb-10
    }

    .markdown > img {
        @apply pb-7 mt-7
    }

    .markdown > blockquote {
        @apply mb-10 mt-7 border p-10 
    }

  

}