---
import Card from "./Card.astro";
const posts = await Astro.glob("../posts/*.md");
---

<section class="grid md:grid-cols-2 md:gap-20">
  {
    posts.map((post) => (
      <Card>
        <a href={`/${post.frontmatter.slug}`}  target="_blank"
      rel="noreferrer noopener">
        <img class="border-b" alt="" src={post.frontmatter.cover} />
        <div class="p-5">
          <h3 class="text-4xl">{post.frontmatter.title}</h3>
          <p class="mt-5">{post.frontmatter.lead}</p>
            <button class="border p-2 rounded-none mt-5">Read</button>
        </div>
      </a>
      </Card>
    ))
  }
</section>

