<div class="mt-20 flex justify-between items-center">
  <div class="mt-5 md:mt-0">
    <h5 class="detail text-xl mb-2">Copyright</h5>
    <p class="detail">2022</p>
    <a href="https://0xshapeshifter.vercel.app" 
    target="_blank"
    rel="noreferrer noopener"
    class="detail">0xShapeShifter</a>
    <p class="detail">(c)</p>
  </div>

  <!-- <div class="mt-5 md:mt-0">
    <h5 class="detail text-xl mb-2">Links</h5>
    <p>
      <a
        class="detail cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Dribble</a>
    </p>
    <p>
      <a
        class="detail cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Product Hunt</a>
    </p>
  </div> -->

  <div class="mt-5 md:mt-0">
    <h5 class="detail text-xl mb-2">Contact</h5>
    <p>
        <a
          class="detail cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="mailto:0xshapeshifter@proton.me">Email</a>
      </p>
      <!-- <p>
        <a
          class="detail cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://t.me/oxshapeshifter/">Telegram</a>
      </p> -->
      <p>
        <a
          class="detail cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://twitter.com/0x_shapeshifter">Twitter</a>
      </p>
  </div>

  <div class="mt-5 md:mt-0">
    <h5 class="detail text-xl mb-2">Support</h5>
    <p>
        <a
          class="detail cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://nowpayments.io/donation/burnrate'">Donate</a>
      </p>
  </div>
</div>
