<div class="mt-20 grid md:grid-cols-4">
  <div class="mt-5 md:mt-0">
    <h5 class="text-gray-500 text-xl mb-2">Copyright</h5>
    <p class="text-gray-500">2022</p>
    <a href="https://0xshapeshifter.vercel.app" class="text-gray-500">0xShapeShifter</a>
    <p class="text-gray-500">(c)</p>
  </div>

  <div class="mt-5 md:mt-0">
    <h5 class="text-gray-500 text-xl mb-2">Links</h5>
    <p>
      <a
        class="text-gray-500 cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Dribble</a>
    </p>
    <p>
      <a
        class="text-gray-500 cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Product Hunt</a>
    </p>
  </div>

  <div class="mt-5 md:mt-0">
    <h5 class="text-gray-500 text-xl mb-2">Contact</h5>
    <p>
        <a
          class="text-gray-500 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="mailto:0xshapeshifter@proton.me">Email</a>
      </p>
      <p>
        <a
          class="text-gray-500 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://t.me/oxshapeshifter/">Telegram</a>
      </p>
      <p>
        <a
          class="text-gray-500 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://twitter.com/0x_shapeshifter">Twitter</a>
      </p>
  </div>

  <div class="mt-5 md:mt-0">
    <h5 class="text-gray-500 text-xl mb-2">Support</h5>
    <p>
        <a
          class="text-gray-500 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="https://nowpayments.io/donation/burnrate'">Donate</a>
      </p>
  </div>
</div>
