<div class="mt-20 grid grid-cols-4">
  <div class="">
    <h6 class="text-gray-500">Copyright</h6>
    <p class="text-gray-700">2022</p>
    <p class="text-gray-700">0xShapeShifter</p>
    <p class="text-gray-700">(c)</p>
  </div>

  <div class="">
    <h6 class="text-gray-400">Links</h6>
    <p>
      <a
        class="text-gray-700 cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Behance</a>
    </p>
    <p>
      <a
        class="text-gray-700 cursor-pointer hover:underline"
        target="_blank"
        rel="noreferrer noopener"
        href="#">Product Hunt</a>
    </p>
  </div>

  <div class="">
    <h6 class="text-gray-500">Contact</h6>
    <p>
        <a
          class="text-gray-700 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="#">Emailt</a>
      </p>
      <p>
        <a
          class="text-gray-700 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="#">Telegram</a>
      </p>
      <p>
        <a
          class="text-gray-700 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="#">Twitter</a>
      </p>
  </div>

  <div class="">
    <h6 class="text-gray-500">Support</h6>
    <p>
        <a
          class="text-gray-700 cursor-pointer hover:underline"
          target="_blank"
          rel="noreferrer noopener"
          href="#">Donate</a>
      </p>
  </div>
</div>
