---
---

<header class="mt-20">
  <h1 class="text-9xl">Burn Rate</h1>

  <p class="my-1 text-xl">
    gain an instant bird-eye perspective of your expenses and
    strategically evaluate your income
  </p>
</header>
