---
---

<nav class="flex justify-between items-center h-12 py-3">
  <p>
    Burn Rate by <a
      target="_blank"
      rel="noreferrer noopener"
      href="https://0xshapeshifter.vercel.app"
      class="detail hover:text-light cursor-pointer">0xShapeShifter</a>
  </p>
  <a
    class=""
    href="https://nowpayments.io/donation/burnrate"
    target="_blank"
    rel="noreferrer noopener"
  >
    <button>Donate</button></a
  >
</nav>
