---
---

<nav class="flex justify-between items-center h-12 py-3">
  <p>
    Burn Rate by <a
      target="_blank"
      rel="noreferrer noopener"
      href="https://0xshapeshifter.vercel.app"
      class="detail hover:text-light cursor-pointer">0xShapeShifter</a>
  </p>
  <a href="https://www.producthunt.com/posts/burnrate?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-burnrate" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=377311&theme=light" alt="BurnRate - Your&#0032;financial&#0032;perspective | Product Hunt" style="width: 162px; height: 35px;" width="162" height="35" /></a>
  <p class="px-6 py-0.5 rounded-full text-[#f5a623] text-[0.9rem] bg-[#f7b955]/20 border border-[#f5a623] tracking-normal font-normal animate-pulse m-1">Beta</p>
</nav>
