---
import '../styles/global.css'
const { title = 'BurnRate.io' } = Astro.props;
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>{Astro.props.title}</title>
</head>
<body class="m-auto p-10 max-w-7xl justify-center">
	<main>
		<slot />
	</main>
  <Footer />
</body>
</html>


<!-- m-auto max-w-3xl justify-center text-xl mb-20 -->